#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.topleft{
  position: fixed;
  top: 10px;
  left: 20px;
}
.topright{
  position: fixed;
  top: 10px;
  right: 20px;
}
.graphContainer{
  border: none !important;
  outline: none !important;
}
.bottomleft{
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.bottomright{
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.react-flow {
  --xy-background-color: #121212; 
  --xy-minimap-background-color-default: #242424;
  --xy-node-background-color: #1e1e1e;
  --xy-node-border-color: #888;
  --xy-edge-stroke-default: #888;
  --xy-handle-color: #aaa;
  --xy-font-color: #eee;
  text-align: center;         /* centers text horizontally */
  justify-content: center;    /* centers text vertically */
  align-items: center;
  display: flex;
}

.react-flow__background {
  background-color: #121212 !important;
}